<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register here</title>
</head>
<body>
    <form action="/formApp/responsePage">
        <h1>Electronics</h1>
        <label>Television: <input type="text" name="television"></label><br><br>
        <label>Fridge: <input type="text" name="Fridge"></label><br><br>
        <label>Mobile Phone: <input type="text" name="Mobile Phone"></label><br><br>
        <label>Ac: <input type="text" name="Air conditionar"></label><br><br>
        <label>Fan: <input type="text" name="Fan"></label><br><br>
        <label>laptop: <input type="text" name="laptop"></label><br><br>
        <label>speakers: <input type="text" name="speakers"></label><br><br>
        <button type="submit">click</button>
    </form>
</body>
</html>